<!DOCTYPE html>
<html>
<head>
  <title>Nemesis</title>
  <%= stylesheet_link_tag    "nemesis/application", media: "all" %>
  <%= javascript_include_tag "nemesis/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
